.side {
    background-color: aliceblue;
    height: max-content;
 

   

}
.main-header{
    height:60px;
    background-color: rgb(17, 14, 44);
    margin-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: rgb(243, 241, 238);
}
h1,h2, h3{
    color:rgb(74, 6, 79);
}
.display {
    background-color: rgb(93, 138, 123);
  
    padding: 10px;
    display: none;

}

form {
    display: flex;
    flex-direction: column;
     row-gap: 10px;
    justify-content:space-around
}
.styleList{
   list-style: none;
    font-size: 15px;
    padding: 5px;
  
    border: 1px solid rgb(180, 124, 20);
    margin-bottom: 5px;
}
.weeksDiv {
    margin-left: 5px;
    padding: 10px;
    border: 2px solid gold;
   
  
}
*{
    box-sizing: border-box;
    margin-top: 0;
}

[class*="col"] {
    width: 100%;
    float: left;
}
#fivedays{
   
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
   
}
#today{
  background-color: white;
 
}
main{
   margin: 2%;
}
body{background-color: aliceblue;}

@media only screen and (min-width:1200px) {
    .side {
       
        width: 15%;

    }

    .display {
       
        width: 85%;
       

    }
  
}

@media only screen and (min-width:768px) {
    .side {
       
        width: 15%;

    }
    #fivedays{
   
         
      }

    .display {
       
        width: 85%;
        flex-direction: column;

    }
   
}